<% usages_rest.each do |use| %>
  <tr>
    <td><%= use.step.to_s %></td>
    <td><%= use.total_usage %></td>
    <td><%= use.number_scenarios %></td>
    <td><%= use.use_scenario %></td>
  </tr>
<% end %>
